.head{
    height:400px;
    background-image:url("/static/img/tree.jpg") ;
    background-repeat:no-repeat;
    background-size:100% 100%;
}
.fal{
    height:500px;
}
.foot{
    height:50px;
    background-color: gray;
    padding-right: 3rem;
    padding-left: 3rem;
}
.mypage{
    
    width: 1500px;
    
}